<mtapp:setting
    id="CodeMirrorComplete-keybind"
    label="<__trans phrase="Keybind">"
>
<input id="CodeMirrorComplete-keybind" name="keybind" value="<mt:Var name="keybind">" class="text" />
</mtapp:setting>
